@page "/api/Usuario/Registro/Crear"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;


<!DOCTYPE html>
    <html>

    <head>
        <title>Registro de usuarios</title>
    </head>

    <body>

        <header>

            <h1 class="text-center">Registrate compleando todos los campos !</h1>

            <EditForm Model="usuario" OnValidSubmit="Grabar">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" placeholder="Nombre" @bind="usuario.Nombre" class="form-control" />
                    <ValidationMessage For="@(() => usuario.Nombre)" />
                </div>

                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" placeholder="Apellido" @bind="usuario.Apellido" class="form-control" />
                    <ValidationMessage For="@(() => usuario.Apellido)" />
                </div>

                <div class="form-group">
                    <label for="e-mail">E-mail</label>
                    <input type="email" placeholder="Correo electrónico" @bind="usuario.Email" class="form-control" />
                    <ValidationMessage For="@(() => usuario.Email)" />
                </div>

                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" placeholder="Contrseña" @bind="usuario.Contraseña" class="form-control" />
                    <ValidationMessage For="@(() => usuario.Contraseña)" />
                </div>

                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" placeholder="Telefono" @bind="usuario.Teléfono" class="form-control" />
                    <ValidationMessage For="@(() => usuario.Teléfono)" />
                </div>

                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" placeholder="Dirección" @bind="usuario.Dirección" class="form-control" />
                    <ValidationMessage For="@(() => usuario.Dirección)" />
                </div>

                <div class="form-group">
                    <label for="direccion">Cuit / Cuil</label>
                    <input type="tel" placeholder="Cuit / Cuil" @bind="usuario.Cuit_Cuil" class="form-control" />
                    <ValidationMessage For="@(() => usuario.Cuit_Cuil)" />
                </div>


                <div>
                    <button class="btn btn-primary" type="submit">Registrar</button>
                    <button class="btn btn-secondary" onclick="Cancelar">Cancelar</button>
                </div>

            </EditForm>

        </header>

        <main>

        </main>

        <footer>
            <p>&copy; 2025 La Nonna Personal</p>
        </footer>

    </body>

</html>

@code {
    private Usuario usuario = new Usuario();

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Usuario>("api/Usuario", usuario);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/api/Usuario/Lista");
    }
}
