@page "/api/Usuario/Registro/Crear"
@inject IHTTPServicio http;
@inject HttpClient Http;
@inject NavigationManager navigationManager;


<h1 class="text-center mb-4 text-primary fw-bold">📝 Registrate en nuestra web</h1>

<EditForm Model="usuario" OnValidSubmit="Grabar" class="container">
    <DataAnnotationsValidator />

    <div class="row g-4">
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" @bind="usuario.Nombre" class="form-control" placeholder="Tu nombre" />
            <ValidationMessage For="@(() => usuario.Nombre)" />
        </div>

        <div class="col-md-6">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" id="apellido" @bind="usuario.Apellido" class="form-control" placeholder="Tu apellido" />
            <ValidationMessage For="@(() => usuario.Apellido)" />
        </div>

        <div class="col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" id="email" @bind="usuario.Email" class="form-control" placeholder="Correo@correo.com" />
            <ValidationMessage For="@(() => usuario.Email)" />
        </div>

        <div class="col-md-6">
            <label for="contraseña" class="form-label">Contraseña</label>
            <input type="password" id="contraseña" @bind="usuario.Contraseña" class="form-control" placeholder="••••••••" />
            <ValidationMessage For="@(() => usuario.Contraseña)" />
        </div>

        <div class="col-md-6">
            <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
            <input type="text" id="nombreUsuario" @bind="usuario.NombreUsuario" class="form-control" placeholder="Tu nombre de usuario" />
            <ValidationMessage For="@(() => usuario.NombreUsuario)" />
        </div>

        <div class="col-md-6">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="tel" id="telefono" @bind="usuario.Teléfono" class="form-control" placeholder="N° Teléfono" />
            <ValidationMessage For="@(() => usuario.Teléfono)" />
        </div>

        <div class="col-md-6">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" id="direccion" @bind="usuario.Dirección" class="form-control" placeholder="Dirección" />
            <ValidationMessage For="@(() => usuario.Dirección)" />
        </div>

        <div class="col-md-6">
            <label for="cuitCuil" class="form-label">CUIT / CUIL</label>
            <input type="tel" id="cuitCuil" @bind="usuario.Cuit_Cuil" class="form-control" placeholder="Cuit / Cuil" />
            <ValidationMessage For="@(() => usuario.Cuit_Cuil)" />
        </div>

        <div class="col-12 text-center mt-4">
            <button class="btn btn-success me-2" type="submit">✅ Registrar</button>
            @* <button class="btn btn-outline-secondary" type="button" @onclick="Cancelar">Cancelar</button> *@
           
        </div>
        

    </div>



  


   

</EditForm>


@code {
    private Usuario usuario = new Usuario();


    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Usuario>("api/Usuario", usuario);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }


        navigationManager.NavigateTo("/api/Usuario/Lista");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/api/Usuario/Lista");
    }

   

  
}
