@page "/api/Promocion/Lista"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<!DOCTYPE html>
    <html>
        
        <head>
            <title>Lista de promociones</title>
        </head>
        
        <body>

            <header>
                <h1>Lista de promociones</h1>
            </header>

            <main>

              @*   <div>
                    <p>Para registrarte, hace click en el botón</p>
                    <a class="btn btn-primary" href="/api/Promocion/Crear">Nuevo promoción</a>
                </div> *@

                <div>
                    <p>Promoción !</p>
                    <a class="btn btn-primary" href="/api/Promocion/Crear">Nueva promo !</a>
                </div>

                <table>

                    <tr>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Fecha inicio</th>
                        <th>Fecha fin</th>
                        <th>Activa</th>
                
                    </tr>

                    @if (Mensaje == null)
                    {
                            if (ListaPromo == null)
                            {
                                <p>Buscando....</p>
                            }
                            else if (ListaPromo.Count == 0)
                            {
                                <p>No existen promociones activas </p>
                            }
                            else
                            {
                                @foreach (var item in ListaPromo)
                                {
                                    <tr>
                                        <td>@item.Titulo</td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Fecha_Inicio</td>
                                        <td>@item.Fecha_Fin</td>
                                        <td>@item.Activa</td>
                                        <td>
                                            <a class="btn btn-primary" href="/api/Promocion/Editar/@item.Id">Editar</a>  @* hacer el editar de promocion *@
                                        </td>
                                    </tr>

                                }
                            }
                        }
                        else
                        {
                            <p> Error: @Mensaje</p>
                        }


                    </table>

            </main>
            
            <footer>

            </footer>
    
        </body>
    
    </html>

@code {
    List<Promocion> ListaPromo;

    string Mensaje;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Leer();
    }

    private async Task Leer()
    {
        var resp = await http.Get<List<Promocion>>("api/Promocion");

        string Mensaje = "";

        if (!resp.Error)
        {
            ListaPromo = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError();
        }
    }
}
