@page "/api/Metodo_Entrega/Lista"
@inject IHTTPServicio http;
@inject HttpClient Http;
@inject NavigationManager navigationManager;


@* <h1>Método de entrega</h1>

<select @bind="MetodoEntregaSeleccionado" class="form-select">
    <option disabled selected value="">-- Seleccione el método de entrega --</option>
    @if (ListaMetodoEntrega != null)
    {
        foreach (var MetodoEntrega in ListaMetodoEntrega)
        {
            <option value="@MetodoEntrega.Metodo_Entrega_Id">@MetodoEntrega.Descripcion</option>
        }
    }
</select> *@

<h1 class="text-center mb-4">🚚 Método de entrega</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Tipo</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ListaMetodoEntrega != null)
                    {
                        foreach (var MetodoEntrega in ListaMetodoEntrega)
                        {
                            <tr>
                                <td>@MetodoEntrega.Metodo_Entrega_Id</td>
                                <td>@MetodoEntrega.Descripcion</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (Mensaje == null)
{
    if (ListaMetodoEntrega == null)
    {
        <p>Buscando...</p>
    }
    else if (ListaMetodoEntrega.Count == 0)
    {
        <p>No existen métodos de entrega</p>
    }
}
else
{
    <p>Error: @Mensaje</p>
}




@code {

    //selecciona el rol de usuario
    private string MetodoEntregaSeleccionado;

    private List<Metodo_Entrega> ListaMetodoEntrega;

    // private List<Tipo_Cliente> ListaTipoClientes;

    string Mensaje;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ListaMetodoEntrega = await Http.GetFromJsonAsync<List<Metodo_Entrega>>("api/Metodo_Entrega");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error obteniendo metodos de entrega: {ex.Message}");
        }
    }

    private void IngresarConMetodoEntrega()
    {
        if (!string.IsNullOrEmpty(MetodoEntregaSeleccionado))
        {
            navigationManager.NavigateTo($"/api/Metodo_Entrega/Lista");
        }
    }
}




