@page "/api/Categoria_Producto/Crear"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;


<h1 class="text-center mb-4">Categorías de productos</h1>

<EditForm Model="categoria_producto" OnValidSubmit="Grabar" class="container">
    <DataAnnotationsValidator />

    <div class="row g-3">
        
        <div class="col-md-6">
            <label for="Tipo_Pasta" class="form-label">Tipo de pasta</label>
            <input type="text" id="tipo_pasta" @bind="categoria_producto.Tipo_Pasta" class="form-control" placeholder="Raviones / Ñosquis" />
            <ValidationMessage For="@(() => categoria_producto.Tipo_Pasta)" />
        </div>
        
        <div class="col-md-6">
            <label for="Forma" class="form-label">Tipo de pasta</label>
            <input type="text" id="forma" @bind="categoria_producto.Forma" class="form-control" placeholder="Corta/larga/rellena" />
            <ValidationMessage For="@(() => categoria_producto.Forma)" />
        </div>
        
        <div class="col-md-6">
            <label for="Forma" class="form-label">Tamanio</label>
            <input type="text" id="tamanio" @bind="categoria_producto.Tamanio" class="form-control" placeholder="grosor / largo / diametro" />
            <ValidationMessage For="@(() => categoria_producto.Tamanio)" />
        </div>

        <div class="col-md-6">
            <label for="IngredientesBase" class="form-label">Ingredientes Base</label>
            <input type="text" id="tamanio" @bind="categoria_producto.IngredientesBase" class="form-control" placeholder="huevo / espinaca / calabaza" />
            <ValidationMessage For="@(() => categoria_producto.IngredientesBase)" />
        </div>
        
        <div class="col-md-6">
            <label for="ProcesoElaboracion" class="form-label">Proceso de elaboración</label>
            <input type="text" id="procesoElaboracion" @bind="categoria_producto.ProcesoElaboracion" class="form-control" placeholder="huevo / espinaca / calabaza" />
            <ValidationMessage For="@(() => categoria_producto.ProcesoElaboracion)" />
        </div>

        

        <div class="col-12 text-center mt-4">
            <button class="btn btn-success me-2" type="submit">✅ Registrar categoría</button>
            <button class="btn btn-outline-secondary" type="button" @onclick="Cancelar">Cancelar</button>
        </div>
    </div>

</EditForm>


@code {
    
    private Categoria_Producto categoria_producto = new Categoria_Producto();

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Categoria_Producto>("api/Categoria_Producto", categoria_producto);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
        navigationManager.NavigateTo("api/CategoriaProducto/Lista");

    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("api/CategoriaProducto/Lista"); 
    }
}
