@page "/api/Categoria_Producto/Lista"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;




<h1 class="text-center mb-4">👥 Lista de usuarios registrados</h1>

<div class="container">
    @if (Mensaje == null)
    {
        @if (categoriaproductoLista == null)
        {
            <div class="alert alert-secondary text-center">🔄 Buscando usuarios...</div>
        }
        else if (categoriaproductoLista.Count == 0)
        {
            <div class="alert alert-warning text-center">⚠️ No existen usuarios registrados</div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-bordered table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Tipo de pasta</th>
                            <th>Forma</th>
                            <th>Tamaño|</th>
                            <th>Ingredientes base</th>
                            <th>Proceso de elaboración</th>
                          
                          @*<th class="text-center">Modificar</th>
                            <th class="text-center">Eliminar</th> *@
                        </tr>
                    </thead>
                    
                    <tbody>
                       
                        @foreach (var item in categoriaproductoLista)
                        {
                            <tr>
                                <td>@item.Tipo_Pasta</td>
                                <td>@item.Forma</td>
                                <td>@item.Tamanio</td>
                                <td>@item.IngredientesBase</td>
                                <td>@item.ProcesoElaboracion</td>
                                
                               
                                @* <td class="text-center">
                                    <a class="btn btn-warning btn-sm" href="/api/Usuario/Editar/@item.Id">✏️ Modificar</a>
                                </td> *@
                               
                                @*  <td class="text-center">
                                    <button class="btn btn-danger btn-sm" @onclick="() => Eliminar(item)">🗑️ Borrar</button>
                                </td> *@

                            </tr>
                        }
                    </tbody>

                </table>
            
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger text-center">❌ Error: @Mensaje</div>
    }
</div>





@code {
   

    private List<Categoria_Producto> categoriaproductoLista;
    // Usuario usuario;

    string Mensaje;

 

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Leer();
    }

    #region Leer usuarios
    private async Task Leer()
    {
        var resp = await http.Get<List<Categoria_Producto>>("api/Categoria_Producto/Lista");

        string Mensaje = "";

        if (!resp.Error)
        {
            categoriaproductoLista = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError();
        }
    }
    #endregion


    private void Cancelar()
    {
        navigationManager.NavigateTo($"/Categoria_Producto/Lista");
    }

}






