@page "/api/Estado_Pedido"
@inject IHTTPServicio http;
@inject HttpClient Http;
@inject NavigationManager navigationManager;

@* REHACER *@

<!DOCTYPE html>
<html>

<head>
    <title>Lista Roles</title>
    <meta charset="utf-8" />
</head>


<body>

    <header>

        <h1 class="text-center">Seleccione el rol</h1>

        <h2>Lista roles</h2>

        @*  <select>
            <option value="listaRoles">Administrador</option>
        </select>

        <div class="btn btn-info">
            <a href="/administracion">Ingresar</a>
        </div> *@


    </header>

    <main>

        <table>

            <tr>
                <th>Nombre de rol</th>

            </tr>

            <select @bind="EstadoPedidoSeleccionado" class="form-select">
                <option disabled selected value="">-- Seleccione un rol --</option>
                @if (ListaEstadoPedido != null)
                {
                    foreach (var Estado_pedido in ListaEstadoPedido)
                    {
                        <option value="@Estado_pedido.Descripcion">@Estado_pedido.Descripcion</option>
                    }
                }
                @if (!string.IsNullOrEmpty(EstadoPedidoSeleccionado))
                {
                    <p>Rol seleccionado: <strong>@EstadoPedidoSeleccionado</strong></p>
                }
            </select>

            <button class="btn btn-primary" @onclick="IngresarConEstadoPedido">Ingresar</button>



            @if (Mensaje == null)
            {
                if (ListaEstadoPedido == null)
                {
                    <p>Buscando....</p>
                }
                else if (ListaEstadoPedido.Count == 0)
                {
                    <p>No existen Estados de pedidos activos</p>
                }
                @*   else
                {
                    @foreach (var item in ListaRoles)
                    {
                        <tr>
                            <td>@item.Nombre_rol</td>
                        </tr>

                    }
                } *@
            }
            else
            {
                <p> Error: @Mensaje</p>
            }


        </table>

    </main>

    <footer>
        <p>&copy; 2025 La Nonna Personal</p>
    </footer>

</body>

</html>

@code {

    private void IngresarConEstadoPedido()
    {
        if (!string.IsNullOrEmpty(EstadoPedidoSeleccionado))
        {
            navigationManager.NavigateTo($"/api/Pedido/Lista");
        }
    }
    //selecciona el rol de usuario
    private string EstadoPedidoSeleccionado;



    private List<Estado_Pedido> ListaEstadoPedido;

    string Mensaje;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ListaEstadoPedido = await Http.GetFromJsonAsync<List<Estado_Pedido>>("/api/Estado_Pedido");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error obteniendo Estado de pedidos: {ex.Message}");
        }
    }

}




